* {
    box-sizing: border-box;
    text-align: left;
  }
header{
    background: #ffffff;
    position: relative;
    padding: 30px;
    border-bottom: #cccccc solid;
    overflow: auto;
    clear: both;
    width: 100%
    
}
.name{
    background: #4aaaa5;
    position: relative;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 24.15%;
    margin-bottom: -30px;
    margin-top: -30px;
    padding: 20px;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
}
#btn-group{
    margin-right:20%;
}
#left {
    
    background:#ffffff; 
    color: #777777;
    position: relative;
    border-left: lightgray 1px;
    border-top:1px;
    border-bottom: 1px;
    font-size: 16px;
    text-align: center;
    float:right;
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #center {
    float:right;
    position: relative;
    background: #ffffff;
    color: #777777;
    text-align: center;
    font-size: 16px;
    border-left: lightgray 1px;
    border-top:1px;
    border-bottom: 1px;
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #right {
    float:right;
    position: relative;
    background: #ffffff;
    color: #777777;
    border: white 1px;
    text-align: center;
    font-size: 16px;
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .heading{
    padding-left: 20px;
    padding-top: 20px;
    color:#4aaaa5;
}
.line{
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:40px;
  background: #cccccc;
}
.general{
    box-sizing: border-box;
    position: relative;
    height:575px;
    width:700px;
    margin-left:340px;
    background: white;
}
body{
    background:lavender;
    margin:0px;
}
label{
    margin-left: 16px;
}
#name{
    width: 95%; 
    padding: 12px; 
    font-family: Arial, Helvetica, sans-serif;
    border: lightgrey solid 1px; 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-left: 16px;
    margin-top: 6px; 
    margin-bottom: 16px; 
}
#email{
    width: 95%; 
    padding: 12px; 
    font-family: Arial, Helvetica, sans-serif;
    border: lightgrey solid 1px; 
    border-radius: 2px; 
    box-sizing: border-box;
    margin-left: 16px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}
#message{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%; 
    height:200px;
    padding: 12px; 
    border: lightgrey solid 1px; 
    border-radius: 2px; 
    box-sizing: border-box;
    margin-left: 16px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}
#submit{
    background-color: #4aaaa5;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    margin-left:16px;
  }
h5{
    text-align: center;
}
footer {
    margin-top: 300px;
    border-top: #4aaaa5 solid 3px;
    padding: 10px;
    background: #666666;
}